@import '../../../style/global.scss';

.authorIndex {
  padding: 0 $padding30;
  .search-content {
    margin-top: 8%;
    @include flex-center
  }
  .hot-wrap {
    margin-top: 15%;
    .tips {
      line-height: 2;
      position: relative;
      padding-left: 18px;
      &::after {
        content: '';
        width: 4px;
        height: 30px;
        background: deepskyblue;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -14px;
      }
    }
    .author-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 120px);
      grid-column-gap: 70px;
      grid-row-gap: 30px;
      margin-top: 40px;
    }
  }
}